
@using Turbo.Models;
@using Turbo.ViewModel;
@using Turbo.Utilities;
@model Turbo.ViewModel.ElanYaratViewModel

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Post</h2>
        </div>
        <div class="col-lg-12">
            @if (TempData["PostAdded"] != null)
            {
                <p class="alert alert-success ">Yeni meqale elave olundu</p>
            }
        </div>
        <div class="col-lg-12">
            @if (TempData["PostEdited"] != null)
            {
                <p class="alert alert-success ">Elan yenilendi</p>
            }
        </div>
    </div>
</div>



    <div class="container">
        <div class="row">
            <ul class="nav navbar-nav">
                <li>
                    <a class="alert alert-link" asp-controller="Meqale" asp-action="Yarat">Meqale elave et</a>
                </li>


            </ul>
        </div>
    </div>




<div class="container">
    <div class="row posts">
        @foreach (var x in Model.Meqaleler)
        {
        <div class="col-4">
            <img style="height:100px;object-fit:cover;width:100%" src="~/images/Cars/@x.Sekil" />
            <h3>

                @x.Basliq
            </h3>
            <p class="text-nowrap">
                @Html.Raw(x.Melumat)
            </p>


            <span>
                @x.YazilmaVaxti.ToString("dd MMMM yyyy HH:mm")
            </span>
            <p>
                Yazici:

                @x.User.Ad @x.User.Soyad

            </p>
            <a asp-controller="Meqale" asp-action="detail" asp-route-id="@x.Id" class="btn btn-info">Davamini oxu</a>
            <a asp-controller="Meqale" asp-action="edit" asp-route-id="@x.Id" class="btn btn-info">Yenile</a>


            <button data-post="@x.Id" class="btn btn-danger delete">Delete this post</button>





            <hr />
        </div>

        }
        @section scripts{
            <script>
                $(".delete").click(function (e) {
                    let id = $(this).attr("data-post");
                    let res = true;
                    $.ajax({
                        url: "/admin/Meqale/delete/" + id,
                        type: "POST",
                        success: function (res) {
                            if (res === "false") {
                                alert("Meqale tapilmadi yeniden cehd edin");
                                res = false;
                                return;
                            }
                            res = true;
                            alert("Meqale silindi");

                        }


                    })
                    if (res) {
                        $(this).parent("div").html("");
                    }

                })
            </script>
        }

    </div>

</div>




